@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    65deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(11, 38, 65, 1) 54%,
    rgba(16, 58, 100, 1) 100%
  );
}
.kitti-logo {
  width: 100px;
  height: auto;
}

.navbar-nav .nav-item {
  margin: 0 15px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #878787;
  font-weight: 700;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  /* background-image: linear-gradient(45deg, #005baa, #000000); */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main > div hr {
  display: block;
  background: #00ca4a;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
  color: #fff;
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;

  background: #005baa;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  /* border: 2px solid #c2c2c2; */
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main > div > a:hover {
  /* border: 0.125rem solid #005baa; */
  color: #fff;
  text-decoration: none;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1628944682084-831f35256163?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1515309025403-4b0184873cef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1545671913-b89ac1b4ac10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1598977123118-4e30ba3c4f5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1570481662006-a3a1374699e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }

  .bg,
  .bg2 {
    opacity: 0.1;
  }
}
@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}

.why-choose {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
  font-weight: 700;
}

.tick {
  color: #00ca4a;
}

.section-title {
  position: relative;
  /* padding-left: 60px; */
  color: #fff;
  font-size: 30px;
}

.section-title::before {
  position: absolute;
  content: "";
  top: -6px;
  left: 0;
  width: 45px;
  height: 3px;
  background: #00ca4a;
}

.section-para {
  color: #fff;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* Our partner */

:root {
  --color-text: navy;
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

* {
  box-sizing: border-box;
}

/* body {
  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--gap);
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
} */

.Partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(var(--scroll-start));
  }
  to {
    transform: translateY(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: 10%;
  fill: #00ca4a;
  background: #ffffff17;
  aspect-ratio: 26/10;
  padding: calc(var(--size) / 30);
  border-radius: 0.5rem;
}

.marquee--vertical svg {
  aspect-ratio: 1;
  width: calc(var(--size) / 1.5);
  padding: calc(var(--size) / 6);
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}

/* Toggle direction button */
.toggle {
  --size: 3rem;
  position: relative;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: var(--size);
  height: var(--size);
  font: inherit;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  color: inherit;
  background-color: var(--color-bg-accent);
  z-index: 1;
}

.toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--color-text);
}

.toggle span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: calc(100% + 0.4em);
  width: fit-content;
  white-space: nowrap;
  transform: translateY(-50%);
  animation: fade 400ms 4s ease-out forwards;
  user-select: none;
}

.toggle svg {
  --size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
  transform: translate(-50%, -50%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.toggle--vertical svg {
  transform: translate(-50%, -50%) rotate(-90deg);
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.section-title2 {
  position: relative;
  /* padding-left: 60px; */
  color: #fff;
  font-size: 30px;
}

.section-title2::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 365px;
  width: 50px;
  height: 3px;
  background: #00ca4a;
}

.partner-desc {
  font-size: 28px;
  font-weight: 700;
}

/* Our partner */
/* Industy */
.HealthCare {
  border: 2px solid #fff;
  padding: 10px;
}
.position-relative {
  position: relative !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.align-items-center {
  align-items: center !important;
}

.text-white {
  color: #fff !important;
}
.portfolio-item .portfolio-img {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0;
  transition: 0.5s;
}

.portfolio-item:hover .portfolio-img {
  bottom: 100%;
}

.bg-secondary {
  background-color: #005baa !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #0f0f14 !important;
}

.portfolio-item .portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  transition: 0.5s;
}

.portfolio-item:hover .portfolio-text {
  bottom: 0;
}

.team .team-social {
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
}

.team:hover .team-social {
  opacity: 1;
}

.section-title1 {
  position: relative;
  /* padding-left: 60px; */
  color: #fff;
  font-size: 30px;
}

.section-title1::before {
  position: absolute;
  content: "";
  top: -8px;
  left: 240px;
  width: 50px;
  height: 3px;
  background: #00ca4a;
}

/* Industy */

/* our Services */

.Card {
  background: #ffffff17;

  border-radius: 10px;
}

.servies-icon {
  max-width: 26%;
}

.services-para1 {
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
}

/* @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
} */

:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 0.9);
}

/* body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
} */

.links-services:hover {
  text-decoration: none;
}

.Card {
  /* background: #191c29; */
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  cursor: pointer;

  margin: auto;
  flex-direction: column;
}

.Card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
  text-decoration: none;
  border: 5px solid #00ca4a;
}
.Card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.Card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  /* background-image: linear-gradient(
    var(--rotate),
    #005baa,
    #00ca4a 43%,
    #005baa
  ); */
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.Card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 20);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  /* background-image: linear-gradient(var(--rotate), #00ca4a 26%, #005baa 30%); */
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* our Services */

/* testimonial */

/* .Testimonial{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
} */

#carouselExampleIndicators {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 60px;
  margin-bottom: 90px;
  margin-top: 90px;
  background: #ffffff17;
}

.cir {
  width: 15px;
  height: 15px;
  background: #00ca4a;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
  margin-right: 5px;
}

.square {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.fa-star {
  color: #00ca4a;
  margin-right: 5px;
}

.say {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

.founder {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}

.circle,
.star {
  margin-left: 2px;
  margin-bottom: 25px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background: #00ca4a23;
  border-radius: 50%;
}

.carousel-indicators .active {
  background: #00ca4a;
}

.image-square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-left,
.fa-chevron-right {
  color: var(--text-primary);
  font-size: 30px;
}
/* testimonial */

/* footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  /* background: #151414; */
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
  display: flex;
}

.single-cta i {
  color: #00ca4a;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  display: flex;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #373636;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #00ca4a;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 100%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area {
  /* background: #202020; */
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrer {
  background: #ffffff17;
  padding: 20px;
  border-radius: 10px;
}

.hiring {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.join {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  background: #005baa;
  border-radius: 3.125rem;
  /* transition: 0.3s ease-in-out; */
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.join:hover {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  background: #005baa;
  border-radius: 3.125rem;
  /* transition: 0.3s ease-in-out; */
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: relative;
  animation: mymove 2s infinite;
  animation-timing-function: ease;
  transition: 2s ease-in;
  font-size: 30px;
}
@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 5px;
  }
}
/* footer */
